<div class="container">
    <div class="row">
      <div class="col-6"><input type="text"></div>
      <div class="col-6">
        <button class="btn btn-primary" >Search</button>
      </div>
      <div class="col-6">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        
        <app-card [showHeader]="false" blockClass="dashboard-card" *ngIf="data?.length>0">
          <ngx-datatable 
          style="margin-top: 20px" 
          #dataTable 
          [rows]="data" 
          [messages]="{
            emptyMessage: 'No Data Found',
            totalMessage: 'Total'
          }" 
          [rowHeight]="40" 
          [externalPaging]="true" 
          [columnMode]="'force'" 
          [headerHeight]="40"
          [footerHeight]="40" 
          [scrollbarH]="true" 
          [count]="data.length" 
          class="tailwind-datatable">
            <ngx-datatable-column name="Role Name" prop="categoryName">
              <ng-template let-row="row" ngx-datatable-cell-template>
               {{row.roleName}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="User Name" prop="price">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.userName}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button type="button" (click)="Approved(row.requestId)" class="{{row.isApproved ? 'btn btn-sm btn-primary': 'btn btn-sm btn-warning'}}">
                        <i theme="outline">{{ row.isApproved ? "Đã duyệt" : "Chờ duyệt" }}</i>
                    </button>
                </ng-template>
                
              </ngx-datatable-column>

          </ngx-datatable>
        </app-card>
      </div>
    </div>
  </div>