<div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="auth-header">
          <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo img" /></a>
        </div>
        <div class="card my-5">
          <div class="card-body">
          
            <div class="form-group mb-3">
              <label class="form-label" for="productname">Product Name</label>
              <input type="text" class="form-control" id="productname" [(ngModel)]='productName' placeholder="Tên sản phẩm" />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="description">Description</label>
              <input type="text" class="form-control" id="fescription"[(ngModel)]='description' placeholder="Mô tả sản phẩm" />
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="price">Price</label>
              <input type="text" class="form-control"id="price" [(ngModel)]='price' placeholder="Giá tiền" />
            </div>
            <div class="form-group mb-3">
              <select class="form-select" [(ngModel)]="categoryId" aria-label="Default select example" name="categoryId" >
                <option selected>CategoryName</option>           
                <option  *ngFor="let item of data" [value]="item.id">{{item.categoryName}}</option>
            
              </select>
            </div>
            <div class="form-group mb-3">
                <label class="form-label"  for="quantity">Quantity</label>
                <input type="text" class="form-control" [(ngModel)]="quantity" id="quantity" placeholder="Số lượng" />
              </div>
              
            <p class="mt-4 text-sm text-muted">
              By Signing up, you agree to our
              <a href="javascript:" class="text-primary">Terms of Service</a>
              and
              <a href="javascript:" class="text-primary">Privacy Policy</a>
            </p>
            <div class="d-grid mt-3">
              <button type="button" (click)="onSubmit()" class="btn btn-primary">Edit Product</button>
            </div>
            <div class="saprator mt-3">
              <span>Sign up with</span>
            </div>
            <div class="row">
             
                <div class="col-4">
                  <div class="d-grid">
                    <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                      
                      
                    </button>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
        <div class="auth-footer row">
          <!-- <div class=""> -->
          <div class="col my-1">
            <p class="m-0">
              Copyright ©
              <a href="https://codedthemes.com/" target="_blank">CodedThemes</a>
            </p>
          </div>
          <div class="col-auto my-1">
            <ul class="list-inline footer-link mb-0">
              <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Home</a></li>
              <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
              <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Contact us</a></li>
            </ul>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  